/**
 *  This is the main file for {{component_name}}
 */

{{component_name}} = function( componentData ){

    //componentData is the data from the AEM compoent

}

module.exports = {
    init : {{component_name}}
};
