
<!DOCTYPE html>
<html>
  <head>
  <title>My Title</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
  	<link rel="stylesheet" type="text/css" href="/css/main.styles.css">
  </head>
  <body>

  	<div class="page-wrapper">

      <div id="main-body-view">
            <!-- Primary View Component -->
      </div>

    </div>

    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/bundled.app.js"></script>    
  </body>
</html>