// Variables
// Define the custom SASS variables for your project here.


// Base Font Size

$base-font-size: 16;


// Colors

$base-blue: rgba(16,64,128,1);
$light-blue: rgba(140,172,215,1);



// Capacities

$max-content-width: 960px;
$min-content-width: 320px;

$mobile-breakpoint: 468px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;